/* F3FF4B
F20070-PINK
59EAFD-SKYBLU
5B9EC8-MEDBLUE
070F22-DARKBLUE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
}

body {
    padding: 10px;
    background-color: black;
    
}

.f-container {
    display: flex;
    flex-wrap: wrap;
}

.f-container.banner {
    height: 140px;
    /* background-image: url("coming-soon-4.jpg"); */
    background-size: cover;
    background-position: no-repeat;
    margin: -10px;
    justify-content: center;
    align-items: center;
}

img.profile-pic {
    height: 10vh;
}

.f-item-1 {
    border: 1px solid white;
    flex: calc(100% - 0.5em);
    min-height: 100px;
    padding: 10px;
    margin: 0.2em;
}

.f-item-2 {
    border: 1px solid white;
    flex: calc(50% - 0.5em);
    min-height: 100px;
    padding: 10px;
    margin: 0.2em;
}

.f-item-1-2 {
    border: 1px solid white;
    flex: calc(10% - 0.5em);
    min-height: 100px;
    padding: 10px;
    margin: 0.2em;
}

#menu-top {
    display: flex;
}

#menu-side {
    display: none;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
}

#menu-side > a {
    width:100% !important;
    display: flex !important;
}

.f-item-3 {
    border: 1px solid white;
    flex: calc(30% - 0.5em);
    min-height: 100px;
    padding: 10px;
    margin: 0.2em;
}


.f-item-4 {
    border: 1px solid white;
    flex: calc(25% - 0.5em);
    min-height: 100px;
    padding: 10px;
    margin: 0.2em;
}

.navbar {
    border: 1px solid black;
    display: flex;
}

#menu-side > a,
.navbar a {
    border: 1px black;
    color: rgb(255, 255, 255);     
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  #menu-side > a:hover,
  .navbar a:hover {
    border: 1px solid #59EAFD;
    /* background-color: #ddd; */
    color: #59EAFD;
  }

.nav-mobile {
    display: none;
}

/* Next line for next container */
.break {
    flex-basis: 100%;
    height: 10px;
}


#menu-top > .a-right {
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 480px) {

    body {
        padding-bottom:80px;
    }

    body, h2, span, p { font-size: 16px; }
    h1 { font-size: 18px; }

    .f-item-1, .f-item-2, .f-item-3 {
        letter-spacing: 0.05em;
        flex: 100%;
        padding: 5px;
        margin: 0.2em;
    }
    .a-right {
        display: none;
    }

    .navbar {
        display: inline-block;
        position: fixed;
        bottom: 0;
        z-index: 2;
        padding: 10px;
        margin-left: -10px;
        width: 100%;
        height: calc(100%/10);
        border: 1px solid #59EAFD;
        border-radius: 10px;
        background-color: black;
    }
}